.Container{
 display:  flex;
 flex-direction: row;
 width:  100%;
 border-bottom: 1rem;
 border-color: rgb(211, 211, 211);
 align-items: center;
 justify-content: space-between;

}

.rightBox{
    display: flex;
    flex-direction: row;
    gap: 19;
    align-items: center;
}

.link{
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.link :hover {
    color: rgb(9, 9, 9) !important ;
}

.btn{
    background-color: black;
    color: white;
    border-radius: .3rem;
    width: 100%;
    height: 2rem;
    font-size: 1rem;

}