.container{
    display: flex;
    flex-direction: column;
    gap: 12;
   justify-content: center;
   align-items: center;
}

.col1{
   display: flex;
   flex-direction: column;
 justify-content: center;

}

.col2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15;
}

.btn1{
    background-color: black;
    border-radius: .3rem;
    color: #fff;
    text-align: center;
    height: 2.5rem;
    width: 100%;
}

.btn2{
    background-color: rgb(252, 250, 250);
    border-color: #d6d2d2;
    border-radius: .3rem;
    text-align: center;
    height: 2.5rem; 
    width: 70%;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3;
    padding: 15;
}

.subContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1rem;
    gap: 15;
}
